/* Style general */

$background-login-opacity : rgba(255,255,255,.5);
$white : rgb(255,255,255);
$black-opacity : rgba(0,0,0,.5);
$black : rgb(0,0,0);
$grey :  rgb(120,120,120);
$opc-menu-hover : rgb(58,58,58);
$btnhover : rgb(120, 120 ,120);
$margin1em : 1em;
$radio : 1px;
$opc-menu-hover : rgb(48,48,48);

.select2-container {
	min-width: 100% !important;
	width: auto !important;
	height: 34px;
}

.ttitulo {
    color:$white !important;
    background-color: $btnhover !important;
}

.ttitulo *{
    color:$white !important;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
    background: $opc-menu-hover;
}

.left-side-collapsed .custom-nav li a span::after {
    border-right-color: $grey;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
    color: $white;
}
.left-side-collapsed .custom-nav li a span {
    background: $grey;
}

.left-side-collapsed .custom-nav > li.nav-hover > a, .left-side-collapsed .custom-nav > li.nav-hover.active > a {
    color: $white;
}

.custom-nav > li > a:hover, .custom-nav > li > a:active, .custom-nav > li.nav-active > a {
    background-color: $background-login-opacity;
    color: $white;
}

.custom-nav .sub-menu-list > li > a:hover, .custom-nav .sub-menu-list > li > a:active, .custom-nav .sub-menu-list > li > a:focus  {
    color: $white;
    background: $opc-menu-hover;
}

.sticky-left-side {
    background: $black;
}

.sticky-header .logo {
    background: $black;
    border-bottom: 1px solid $black;
}

.btnboot
{
	border-radius: $radio;
}

.btn-black.active, .btn-black.focus, .btn-black:active, .btn-black:focus, .btn-black:hover, .open > .dropdown-toggle.btn-blackvvv {

    color:$white;
    background-color: $btnhover;
    border-color: $btnhover;

}

.btn-black {
    color: $white;
    background-color: $black;
    border-color: $black;
}

.center
	{
		text-align: center;
		margin:0 auto;
	}

.center*
	{
		text-align: center;
		margin:0 auto;
	}

.white-opacity
	{
		background-color:$background-login-opacity;
	}
	
.displayCenter
	{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

.img-loginlogo
	{
		margin-top: 15%;
	}

.formulario
	{
		margin: $margin1em;	
		margin:10% 0;	
	}
	
.input-group
	{
		margin-bottom: $margin1em;
		width:100%;		
	}

.marginem
	{
		margin:$margin1em 0;		
	}
	

/*+++mensajes+++*/
.mensajes
	{
		margin-top:50px;
		right:10px;
		position:fixed;
		z-index: 10000;
	}
.alert2
	{
		margin-top:20px;
		opacity:0;
		max-width: 300px;
	}
.alert
	{
		opacity:1;
	}
/*+++*/