/* Style general */

$white-opacity : rgba(255,255,255,.5);
$white : rgb(255,255,255);
$black-opacity : rgba(0,0,0,.5);
$black : rgb(0,0,0);
$marginem : 1em;
$radio : 1px;

.btnboot
{
	border-radius: $radio;
}

.btn-black {
    color: $white;
    background-color: $black;
    border-color: $black;
}

.center
	{
		text-align: center;
		margin:0 auto;
	}

.center*
	{
		text-align: center;
		margin:0 auto;
	}

.white-opacity
	{
		background-color:$white-opacity;
	}
	
.displayCenter
	{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

.img-loginlogo
	{
		margin-top: 15%;
	}

.formulario
	{
		margin: $marginem;	
		margin:10% 0;	
	}
	
.input-group
	{
		margin-bottom: $marginem;		
	}

.marginem
	{
		margin:$marginem 0;		
	}
	

/*+++mensajes+++*/
.mensajes
	{
		margin-top:50px;
		right:10px;
		position:fixed;
		z-index: 10000;
	}
.alert2
	{
		margin-top:20px;
		opacity:0;
		max-width: 300px;
	}
.alert
	{
		opacity:1;
	}
/*+++*/