/* Style general */
.image-select {
  max-width: 70px;
}

.front {
  border: 1px solid green !important;
  background-color: rgba(0, 255, 0, 0.3);
}

.back {
  border: 1px solid blue !important;
  background-color: rgba(0, 0, 255, 0.2);
}

textarea.ng-invalid-maxlength.ng-touched, input.ng-invalid-required.ng-touched, textarea.ng-invalid-required.ng-touched,
input.ng-invalid-pattern.ng-touched {
  border: 1px red solid !important;
}

.bgimg-2 {
  padding-bottom: 1.5em;
}

.dragandrophandler {
  border: 2px dotted #787878;
  color: #92AAB0;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px 10 10px;
  margin-bottom: 10px;
  font-size: 200%;
}

.table {
  margin-bottom: 0px;
}

.img-info:hover {
  opacity: 1;
}

.img-info {
  position: absolute;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  opacity: 0;
}

.container-img-muestras {
  max-height: 230px;
  overflow-y: auto;
  height: auto;
  overflow-x: hidden;
}

.btn-delete {
  position: absolute;
  right: 5px;
}

.btn-edit {
  position: absolute;
  left: 0px;
}

.click {
  cursor: pointer;
}

.pull-left {
  text-align: initial;
}

.select2-container {
  min-width: 100% !important;
  width: auto !important;
  height: 34px;
}

.ttitulo {
  color: white !important;
  background-color: #787878 !important;
}

.ttitulo * {
  color: white !important;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
  background: #303030;
}

.left-side-collapsed .custom-nav li a span::after {
  border-right-color: #787878;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
  color: white;
}

.left-side-collapsed .custom-nav li a span {
  background: #787878;
}

.left-side-collapsed .custom-nav > li.nav-hover > a, .left-side-collapsed .custom-nav > li.nav-hover.active > a {
  color: white;
}

.custom-nav > li > a:hover, .custom-nav > li > a:active, .custom-nav > li.nav-active > a {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.custom-nav .sub-menu-list > li > a:hover, .custom-nav .sub-menu-list > li > a:active, .custom-nav .sub-menu-list > li > a:focus {
  color: white;
  background: #303030;
}

.sticky-left-side {
  background: black;
}

.sticky-header .logo {
  background: black;
  border-bottom: 1px solid black;
}

.btnboot {
  border-radius: 1px;
}

.btn-black.active, .btn-black.focus, .btn-black:active, .btn-black:focus, .btn-black:hover, .open > .dropdown-toggle.btn-blackvvv {
  color: white;
  background-color: #787878;
  border-color: #787878;
}

.form-control-min {
  min-width: 70px;
}

.width100 {
  min-width: 100%;
  width: auto;
}

.btn-black {
  color: white;
  background-color: black;
  border-color: black;
  cursor: pointer;
}

.tabletitulos {
  color: white;
  background-color: black;
  border-color: black;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.center* {
  text-align: center;
  margin: 0 auto;
}

.white-opacity {
  background-color: rgba(255, 255, 255, 0.5);
}

.displayCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-loginlogo {
  margin-top: 15%;
}

.formulario {
  margin: 1em;
  margin: 10% 0;
}

.input-group {
  margin-bottom: 1em;
  width: 100%;
}

.marginem {
  margin: 1em 0;
}

/*+++mensajes+++*/
.mensajes {
  margin-top: 50px;
  right: 10px;
  position: fixed;
  z-index: 10000;
}

.alert2 {
  margin-top: 20px;
  opacity: 0;
  max-width: 300px;
}

.alert {
  opacity: 1;
}

/*+++*/
