@font-face {
	font-family: "ligth";
	src: url(../../fonts/Geomanist-Complete-Desktop/Geomanist-Light.otf) format("opentype");
}

@font-face {
	font-family: "Regular";
	src: url(../../fonts/Geomanist-Complete-Desktop/Geomanist-Regular.otf) format("opentype");
}

@font-face{
	font-family: "bold";
	src: url(../../fonts/Geomanist-Complete-Desktop/Geomanist-Bold.otf) format("opentype");
}

@font-face {
	font-family: "ligth-Italic";
	src: url(../../fonts/Geomanist-Complete-Desktop/Geomanist-Light-Italic.otf) format("opentype");
}

@font-face {
	font-family: "Regular-Italic";
	src: url(../../fonts/Geomanist-Complete-Desktop/Geomanist-Regular-Italic.otf) format("opentype");
}

@font-face{
	font-family: "bold-Italic";
	src: url(../../fonts/Geomanist-Complete-Desktop/Geomanist-Bold-Italic.otf) format("opentype");
}


/* Generales */

.seccionColor
{
	background-color: #fff8dc;	
}

.seccionColor .carrito
{
	margin-top: 1em;
	border-top: 1px solid #e0dcbf;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover 
{
    background-color: #231F20;
    border-color: #231F20;
}
.pagination > li > a, .pagination > li > span {
    color: #231F20;
    background-color: #fff;
}

body 
{
	/*
	background: -moz-linear-gradient(top, #d37f9d , #fff); 
	background: -webkit-linear-gradient(top, #d37f9d , #fff); 
	background: -o-linear-gradient(top, #d37f9d , #fff); 
	background: -ms-linear-gradient(top, #d37f9d , #fff); 
	background: linear-gradient(top, #d37f9d , #fff);
	*/
	background-color: #e0dcbf !important;
	
	/*background: url(/yetibera/r/img/patterns/retrotartan_aaskie3.png) repeat;*/
}

* 
{
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}
.fa1
{
	font-size: 2em !important;
}

.letrasnormal
{
	font-size: 1em;
	color:black;
}

.carritonuevo div
{
	font-size:3em;
}
.carritonuevo
{
	padding-top: 20px;
	padding-bottom: 10px;
	border-top: 1px solid white;
}

.btn
{
	background-color: #231F20;
	border-color: #231F20;
	color:white;
}

.btn:hover , .btn:focus
{
	background-color: #e1e1e1;
	border-color: #231F20;
	color:black;
}

.btnblanca
{
	background-color: #e1e1e1;
	border-color: #231F20;
	color:black;
}

.btnclanca:hover , .btnblanca:focus
{
	background-color: #231F20;
	border-color: #231F20;
	color:white;
}

.resalta:hover
{
	background-color: #231F20;
	border-color: #231F20;
	color:white;
}

.thumb
{
	margin:5px;
	border-color:#c0c0c0 !important;
}
.thumb:hover , .thumb:focus
{
	border: 2px solid #c0c0c0 !important;
}

#mensajes
{
	position:fixed;
	z-index: 10000;
	bottom: 10px;
	right: 10px;
	
}


/* Shrink wrap strategy 1 */
.easyzoom {
    float: left;
}
.easyzoom img {
    display: block;
}


/* Shrink wrap strategy 2 */
.easyzoom {
    display: inline-block;
}
.easyzoom img {
    vertical-align: bottom;
}



.alert2
{
	margin-top:20px;
	opacity:0;
	max-width: 300px;
}

.alert-danger
{
	background-color: #231F20;
	border-color: #231F20;
	color:white;
}

.alert-success
{
	background-color:white;
	border-color: white;
	color:#231F20;
}

.tabsa
{
	color:white !important;
}

.alert
{
	opacity:1;
}

input.ng-invalid-pattern, .invalida 
{
	border: 1px solid red !important;
}

.center
{
	margin:10px auto;
}
.min-height-content
{
	min-height: 330px;
}
.max-height-content
{
	max-height: 385px;	
}
.left
{
	float:left;
}
.right
{
	float:right;
}

.sinscroll 
{
	overflow: hidden;
}


/* Generales */


#languaje1 img , #lang img
{
    max-width: 34px;
}

#footer *
{
	color:black;
}

.fase1
{
	width: 25%;
}

.fase2
{
	width: 50%;
}

.fase3
{
	width: 75%;
}

.fase4
{
	width: 100%;
}

.btn , img
{
	transition: all 0s;
	-moz-transition: all 0s; /* Firefox 4 */
	-webkit-transition: all 0s; /* Safari and Chrome */
	-o-transition: all 0s; /* Opera */
}


.carrito
{
	padding-top:25px;
	padding-bottom:25px;
	border-top: 1px solid white;
}

.productos
{
	margin-top:50px;
	margin-bottom:30px;
}

.productos>ul>li
{
	margin-top:5px;
}

button.close
{
    font-size: 5em !important;
}
.car
{
	width: 310px;
    background-color: rgba(0,0,0,1);
    color:white;
    right: -310px;
    top: 0px;
    overflow-y: auto !important;
    z-index:987654223456789;
    min-height: 99%;
    height: auto;
    max-height:100%;
}

.car1
{
	right:0px;
}
.content
{
	margin-top:73px;
	max-widht:1450px;
}

.carousel-control 
{
    width: 3%;
}
.scale
{
	 transform: scale(1.2);
}

.btn 
{
	border-radius: 0px !important;
}
.logo
{
	position:absolute;
	top: 20%;
	left:10%;
}

.textcenter
{
	text-align: center;
}

.textright
{
	text-align: right;
}

.textleft
{
	text-align: left;
}

.logo img
{
	width: 300px;
}
.logo1
{
	opacity:0;
}
.light
{
	font-family: ligth;
}
.regular, body
{
	font-family: regular;
}
.bold
{
	font-family: ligth;
}
.light-Italic
{
	font-family: ligth-Italic;
}
.regular-Italic
{
	font-family: regular-Italic;
}
.bold-Italic
{
	font-family: bold-Italic;
}

/* Cases del slider*/
.ei-slider{
	position: relative;
	width: auto !important;
	max-width: 1920px;
	min-height: 400px !important;
	margin: 0 auto;
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{	
}

.ei-slider-large img
	{
	}
.ei-title{
	position: absolute;
	right: 50%;
	margin-right: 13%;
	top: 30%;
}
.ei-title h2, .ei-title h3{
	text-align: right;
}
.ei-title h2{
	font-size: 40px;
	line-height: 50px;
	font-style: italic;
	color: #b5b5b5;
}
.ei-title h3{
	font-size: 70px;
	line-height: 70px;
	text-transform: uppercase;
	color: #000;
}
.ei-slider-thumbs{
	list-style:none;
	height: 13px;
	margin: 0 auto;
	position: relative;
	max-width: none !important;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: #666 ;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
}

/* Cases del slider*/

.container-add
{
	overflow:hidden;
}

.hoveropacidad
{
	background-color:gray;
	opacity: .5;
}

.visor-img
{
}

.dataimg
{	
	top:-100%;
	font-size:1.5em;
	position:absolute;
	/*width: 80%;
	margin-left: 5%;*/	
	width:auto;
	text-align:center;
	background-color:transparent;
}

.dataimg1 , .dataimg1
{
	top:30%;
	font-size:1.5em;
	color:black;
}

.dataimg2 a
{	
	color:black;
}


.dataimg div 
{
	/*min-width:100%;*/
	width:auto;
	text-aling:center;
	margin-top:10px;
}
.borders , .dataimg div {
  position: relative;
  border: 1px solid black;
  /*border-radius: 5px;*/
  background-color: white;
  min-height: 26px;
}

.glyphicon
{
	/*vertical-align: middle;*/
}

.borders:before  , .dataimg div:before {
  content: " ";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid black;
  /*border-radius: 5px;*/
}

body
{
	background-color: #e1e1e1;
}

.conten-page
{
	margin-top:50px;
	border-top:2px solid;
}

.fullscreen1
{
	min-width:100%;
	min-height:100%;
	width: auto;
	height: auto;
}

/* Home contenido */
.img-home
{
	cursor:pointer;
	width:50%;
	margin: 10px auto;
	/*
	float:left;
	min-hegth:100%;
	height:auto;
	*/
}
.right
{
	float:right;
}
.modeloyetibera
{
	margin:0;
	padding:0;
	overflow-y: auto;
	scroll-y:auto;
}

.contenido
{	
	height:100%;
	background-image: url("/yetibera/r/img/g25.png");
	background-size: auto;
	background-repeat:repeat-y;
	background-position:center center;
	opacity:.3;
}
/*Boton close*/
/**/
/* Boton close */

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-right: 15px;
  width: 36px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 17px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: #ff3264;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  /*
  background-color: #cb0032;
  background-color: #ff3264;
  */
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}


/* Para todas las pantallas */

.navbar-bg, .footer
{
	background-color: rgba(192,192,192,.5);
}

#login-dp, #languaje1{
	color:black;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#languaje1{
    min-width: auto;
    padding:0px 0px 0px;
}

#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    /*margin:12px;*/    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.letrasmenu
{
	color:black;
}
 
.letrasmenu:hover, .letrasmenu:active
{
	color:#800000;
}

.navbar-fixed-top .navbar-collapse {
    /*max-height: 353px;*/
}

 #header
	{
		opacity:1;
	}


/**	Estilos del footer */

#footer
{
	margin-top:30px;
	color:black;
	/*background-color:white;*/
	background-color: #fff8dc;
}

.imgsocial1
{
	max-width:50px;
}

.imgsocial
{
	max-width:50px;
}


#extras li
{
	margin:10px;
}

#redes li
{
	margin:5px;
}

.navbarstylo
{
	background-color:transparent;
	/*height: 120px;*/
	font-size:2em;
	/*opacity:0;*/
	border-bottom: none;
	color:white;
}

.navbarstylo2
{
	background-color: #e0dcbf;
	/*height: 62px;*/
	border-bottom: 2px solid #000;
	border-bottom: none;
	color:black;
}

.navar
{
	margin-bottom: none;
}

/* videos pantalla Grande estilo1*/
.video video
{
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	background-color:#000;
	margin: 0 auto;	
	position: relative;
	top: 30%;
}

.video
{
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	background-color:#000;
}

.videomenu2
{
	width:100%;
}
.video-container {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  /*overflow: hidden;*/
}

.video-container video {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*Slideshow moviles*/


#fssPrev,#fssNext,#fssPlayPause
{
	display:none;
} 

.yetibera
{
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: 0px;
}

.yetibera img
{
	max-width:90%;
	margin: 0 auto;	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	opacity:.9;
}

.slideshow
{
	list-style:none;
	padding:0px;
	margin:0px;
}
.opacidad
{
	background-color: rgba(192,192,192,.5);
	position: absolute;
	width:100%;
}


.back
{
	opacity:1 !important;
	background-color: transparent; 
	background-repeat: no-repeat;  
	background-size: cover; 
	background-position: center center; 
	width: 100%; 
	height: 100%; 
	visibility: inherit; 
}

.f1
{
	background-image: url("/yetibera/r/img/carousel/img1.jpg");
}
.f2
{
	background-image: url("/yetibera/r/img/carousel/img2.jpeg");
}
.f3
{
	background-image: url("/yetibera/r/img/carousel/img3.jpeg");
}
.f4
{
	background-image: url("/yetibera/r/img/carousel/img4.jpeg");
}
.f5
{
	background-image: url("/yetibera/r/img/carousel/img5.jpeg");
}

.imglogo
{
	
	width:100%;
}

.imglogo2
{
	
	width:35%;
}

@media all and ( max-device-height : 320px)
{
	#bs-example-navbar-collapse-1
	{
		max-height:270px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (min-device-width : 200px) and (max-device-width : 767px) and (orientation: landscape)
{	
	.grid-item 
	{
	  	width: 100%;
	 }
	
	.back1
	{
		background-position:center center; 
		opacity:1 !important;
		background-color: transparent; 
		background-repeat: no-repeat;  
		background-size: cover; 
		width: 100%; 
		height: 100%; 
		visibility: inherit; 
	}
	.g1
	{
		background-image: url("/yetibera/r/img/carousel/l1.gif");
	}
	.g2
	{
		background-image: url("/yetibera/r/img/carousel/l2.gif");
	}
	.g3
	{
		background-image: url("/yetibera/r/img/carousel/l3.gif");
	}
	.g4
	{
		background-image: url("/yetibera/r/img/carousel/l4.gif");
	}
	.g5
	{
		background-image: url("/yetibera/r/img/carousel/l5.gif");
	}
	
	 #header
		{
			opacity:1;
		}
	.navbar-toggle
	{
		margin-bottom:0px !important;
	}	
	#bs-example-navbar-collapse-1
	{
	    background-color: rgba(0, 0, 0, 0.5);
    	margin-top:0px !important;
    	padding-bottom:10px !important;
    	padding-top:10px !important;
	}
	
	
.navbarstylo , .navbarstylo2
	{
		
		transition: all 1s;
		-moz-transition: all 1s; /* Firefox 4 */
		-webkit-transition: all 1s; /* Safari and Chrome */
		-o-transition: all 1s; /* Opera */
		background-color: transparent;
		min-height: 50px;
		font-size:1em;
	}

.letrasmenu
	{
		color:white;
	}
 
.ei-slider-large img
	{
		/*width:auto !important;*/
	}
* 
	{
		transition: all .8s;
		-moz-transition: all .8s; /* Firefox 4 */
		-webkit-transition: all .8s; /* Safari and Chrome */
		-o-transition: all .8s; /* Opera */
	}
.carritonuevo div
	{
		font-size:1.5em;
	}
	
.content
	{
		margin-top:30px;
	} 
.fa1
	{
		font-size:1em !important;	
	}
}
@media all and (min-device-width : 200px) and (max-device-width : 767px) and (orientation: portrait)
{
	 
.fa1
	{
		font-size:1em !important;
	}
	
.content
	{
		margin-top:30px;
	}
	
.carritonuevo div
	{
		font-size:1.5em;
	}
	
	* 
	{
		transition: all .8s;
		-moz-transition: all .8s; /* Firefox 4 */
		-webkit-transition: all .8s; /* Safari and Chrome */
		-o-transition: all .8s; /* Opera */
	}

	.ei-slider-large img
	{
		/*width:auto !important;*/
	}
	.grid-item 
	{
	  	width: 100%;
	 }
		
.letrasmenu
	{
		color:white;
	}
.navbarstylo , .navbarstylo2
	{
		
		transition: all 1s;
		-moz-transition: all 1s; /* Firefox 4 */
		-webkit-transition: all 1s; /* Safari and Chrome */
		-o-transition: all 1s; /* Opera */
		background-color: transparent;
		min-height: 50px;
		font-size:1em;
	}
	
	.back1
	{
		background-position:0 center; 
		opacity:1 !important;
		background-color: transparent; 
		background-repeat: no-repeat;  
		background-size: cover; 
		width: 100%; 
		height: 100%; 
		visibility: inherit; 
	}
	.g1
	{
		background-image: url("/yetibera/r/img/carousel/p1.gif");
	}
	.g2
	{
		background-image: url("/yetibera/r/img/carousel/p2.gif");
	}
	.g3
	{
		background-image: url("/yetibera/r/img/carousel/p3.gif");
	}
	.g4
	{
		background-image: url("/yetibera/r/img/carousel/p4.gif");
	}
	.g5
	{
		background-image: url("/yetibera/r/img/carousel/p5.gif");
	}
	
	 #header
		{
			opacity:1;
		}
	.navbar-toggle
	{
		margin-bottom:0px !important;
	}	
	#bs-example-navbar-collapse-1
	{
	    background-color: rgba(0, 0, 0, 0.5);
    	margin-top:0px !important;
    	padding-bottom:10px !important;
    	padding-top:10px !important;
	}
}
/* tablets (portrait and landscape) ----------- */
@media all and (min-device-width : 768px) and (max-device-width : 1024px) 
{
	
}

/* laptops (portrait and landscape) ----------- */
@media all and (min-device-width : 1023px) and (max-device-width : 1440px) 
{
	
}

/* Monitores largos ----------- */
@media all and (min-device-width : 1439px) and (max-device-width : 1820px) 
{
	
}

/* monitores hd 4k ----------- */
@media all and (min-device-width : 1819px) and (max-device-width : 3000px) 
{


#languaje1 img , #lang img
{
    max-width: 42px;
}
	
.ltgrandes
{
	font-size:1.2 !important;
}

h3
	{
		font-size:3em;
	}
p
	{
		font-size:2em;
	}
	
.imgsocial {
    max-width: 100px;
}

.imgsocial1 {
    max-width: 100px;
}

.pagination, .numpag, .alert
{
	font-size:2em;
} 

#languaje1 img , #lang img
{
    max-width: 42px;
}

#footer a, .created
	{
			font-size:1.8em;
	}	
	
i, .btn , .fa
	{
			font-size:1.5em;
	}
.badge
	{
			font-size:1em;
	}	
	
#login-dp, #languaje1{
    min-width: 500px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}

#login-dp .help-block{
    font-size:1.3em;    
}

#login-dp .form-group {
    margin-bottom: 20px;
}

#login-dp input
{
	font-size:1.5em;
	text-align: center;
}

.userclassloged
{
	/*font-size:1.2em;*/
}

.car
{
	font-size:1.5em;
	width: 620px;
    right: -620px;
}

.car1
{
	right:0;
}


}